html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    z-index: 100;
}
.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction:         row;
}
.flex-row-reverse {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction:         row-reverse;
}
.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction:         column;
}
.flex-column-reverse {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction:         column-reverse;
}


#maincontainer{
    padding: 5px 0;
    z-index: 0;
    height: auto;
    width:135%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction:         row;
}
#mapcontainer{
    margin:2px 0.3%;
    min-width:49.4%;
}
#mapcontainer.searchtop{
    width:73.4%;
}
#mapcontainer.searchresult{
    animation-duration: 1s;
	animation-name: slideinleft;
    animation-fill-mode:forwards;
}
@keyframes slideinleft {
	from{
        width:73.4%;
    }
	to	{
		width:49.4%;
    }
}
#listcontainer{
    margin:2px 0.3%;
}
#listcontainer.searchtop {
    width:23.4%;
}
#listcontainer.searchresult {
    width:23.4%;
}




#map{
    z-index: 0;
    height: auto;
    width:100%;
}
.nav-wrapper{
    z-index: 10;
}

.foot-wrapper{
    z-index: 10;
    width:100%;
    height:60px;
    -webkit-box-shadow:
        3px -3px 3px 0 rgba(0,0,0,0.14),
        3px -1px 1px 0 rgba(0,0,0,0.3);
    box-shadow:
        3px -3px 3px 0 rgba(0,0,0,0.14),
        3px -1px 1px 0 rgba(0,0,0,0.3);
}
#gmnoprint{
    visibility : hidden;
}
.gm-svpc{
    visibility : hidden;
}