{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PINNED{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pinned.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/pinned.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-3">
            <div class="container">
                <a href="#" class="brand-logo left">Logo</a>
                <ul id="nav-mobile" class="right hide-on-small-only">
                    <form>
                        <div class="flex-row">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search">
                                <i class="material-icons">
                                    search
                                </i>
                            </label>
                            <!--<i class="material-icons">close</i>-->
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </nav>



    {% block content %}
        {{ content }}
    {% endblock %}
</body>
</html>