{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PINNED{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/pinned.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% compress js %}
        <script type='text/es6+javascript'  src="{% static 'js/pinned.js' %}"></script>
    {% endcompress %}

    {% block extrahead %}{% endblock %}

</head>
<body>

    {% include "elem/navi.html" %}

    <div id="maincontainer" class="nav-wrapper grey lighten-3">
        <div id="mapcontainer" class="{% block mapmode %}{% endblock %} z-depth-1">
            <div id="map"></div>
        </div>
        <div id="listcontainer" class="{% block listmode %}{% endblock %} blue lighten-5 z-depth-1">
            {% block listcontent %}{% endblock %}
        </div>
    </div>

    {% block mapcontent %}{% endblock %}

    {% include "elem/footer.html" %}
</body>
</html>