
<div class="naviarea blue darken-3 z-depth-3">
    <a href="/" class="brand-logo left">Logo</a>
    <div class="navisearch right">
        <div class="input-field col s6 flex-row flex-center">
            <input id="search-keyword" type="text" class="validate">
            <i id="search-button" class="material-icons">search</i>
            <label for="input-keyword">search keyword</label>
        </div>
    </div>
    <!--
    <div class="container">
        <a href="#" class="brand-logo left">Logo</a>
        <ul id="nav-mobile" class="right hide-on-small-only">
            <form>
                <div class="flex-row">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                        <i class="material-icons">
                            search
                        </i>
                    </label>
                </div>
            </form>
        </ul>
    </div>
    -->
</div>

<script>
    $("#search-button").on('click',function() {
        if ($("#search-keyword").val() != "") {
            window.location.href = '/search/?key=' + $("#search-keyword").val();
        }
    });
</script>